<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exterior of Car</title>
    <include href="includes/header.html"></include>
</head>
<body>

<form action="#" method="post">
    <div class="container box-border form-group">
        <h1>Design the exterior of your BMW</h1>
        <hr>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label for="rimDrop"><strong>Select the size of the rims</strong></label>
                    <select class="form-control" id="rimDrop">
                        <option>Please choose one...</option>
                        <option>Stock Rim Size</option>
                        <option>16'</option>
                        <option>17'</option>
                        <option>18'</option>
                        <option>19'</option>
                        <option>20'</option>
                        <option>21'</option>
                        <option>22'</option>
                        <option>23'</option>
                        <option>24'</option>
                        <option>25'</option>
                        <option>26'</option>
                    </select>
                </div>
                <label><strong>Add spinners to the rim?</strong></label>
                <div>
                    <input type="radio" id="yesSpinner" name="spinners" value="yesSpinner">
                    <label for="yesSpinner">Yes</label><br>
                    <input type="radio" id="noSpinner" name="spinners" value="noSpinner">
                    <label for="noSpinner">No</label><br>
                </div>
                <div class="form-group">
                    <label for="colorCar"><strong>Select color of the vehicle</strong></label>
                    <select class="form-control" id="colorCar">
                        <option>Please choose one...</option>
                        <option>White</option>
                        <option>Black</option>
                        <option>Yellow</option>
                        <option>Gray</option>
                        <option>Red</option>
                        <option>Imperial Blue</option>
                        <option>Pink</option>
                        <option>Orange</option>
                        <option>Green</option>
                        <option>Purple</option>
                        <option>Sky Blue</option>
                        <option>Brown</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exhaust"><strong>Select exhaust type</strong></label>
                    <select class="form-control" id="exhaust">
                        <option>Please choose one...</option>
                        <option>Stock Exhuast System</option>
                        <option>MagnaFLow</option>
                        <option>Flowmaster American Thunder</option>
                        <option>Heartthrob Exhaust System</option>
                        <option>Borla</option>
                        <option>MBRP</option>
                        <option>Corsa</option>
                        <option>PaceSetter</option>
                        <option>JBA</option>
                        <option>Invidia</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="engine"><strong>Select the type of engine</strong></label>
                    <select class="form-control" id="engine">
                        <option>Please choose one...</option>
                        <option>S55 (3.0 Liter Twin Turbocharged I6)</option>
                        <option>S63 (4.4 Liter Twin Turbocharged V8)</option>
                        <option>S65 (4.0 Liter Naturally Aspirated V8)</option>
                        <option>M88 (3.5 Liter Naturally Aspirated I6)</option>
                        <option>S70/2 (6.1 Liter Naturally Aspirated V12)</option>
                        <option>Electric (Varies)</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <p><strong>Note: </strong>All information entered is protected by our <a>privacy policy.</a> Profile
                    information can only be viewed by others with your permission.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Next ></button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>