<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Build Your Dream BMW</title>
    <include href="includes/header.html"></include>
</head>
<body>

    <div class="jumbotron container">
        <h1 class="display-4">Welcome to Build your Dream BMW!</h1>
        <p class="lead">This is a simple website that allows you to build the dream BMW with any modifications you would like!</p>
        <hr class="my-4">
        <p>This company was established in 2020 and has started with two people that love the way BMWs look and decided
        to make a company that allows their customer to build their dream BMW. It started with just an idea and just kept
        on growing ever since.</p>
        <a href="information" class="btn btn-primary">Build your dream BMW now!</a>
    </div>

</body>
</html>